nav(class="navbar navbar-default navbar-fixed-bottom")
    div(class=container-fluid)
        div(class=navbar-header)
            a(class=navbar-brand)= $siteName
        div(class="collapse navbar-collapse navbar-right")
            ul(class="nav navbar-nav")
                li
                    if $user_name
                        a(href="#",class="dropdown-toggle",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false")
                            img(src=$user_image,width=24,height=24)
                            $user_name
                            span(class=caret)
                            ul(class="dropdown-menu")
                                li
                                    a(href='/logout/') Logout
                    else
                        a(href="/auth/google/login",role="button",aria-haspopup="true",aria-expanded="false")= "Sign In"


