nav(class="navbar navbar-default")
    div(class="container-fluid")
        div(class="navbar-header")
            a(class="navbar-brand" href='/')= $siteName
        div(class="collapse navbar-collapse navbar-right")
            ul(class="nav navbar-nav")
                li
                    if $user_name
                        a(href="#",class="dropdown-toggle",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false")
                            $user_name
                            span(class=caret)
                            ul(class="dropdown-menu")
                                li
                                    a(href='/logout/')= Logout
                    else if $googleAuth
                            a(href="/auth/google/login",role="button",aria-haspopup="true",aria-expanded="false")= "Sign In"
                    else
                        li
                            a(href="/auth/misc/login",role="button",aria-haspopup="true",aria-expanded="false")="Login"
                        li
                            a(href="/auth/misc/register",role="button",aria-haspopup="true",aria-expanded="false")="Register"
